* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(45deg, #485563, #29323C);
}

ul {
  list-style: none;
}

li {
  font:600 1rem 'Work Sans', sans-serif;
}

button {
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
  cursor: pointer;
}

i {
  color: grey;
}

.container {
  color: white;
  font-family: 'Work Sans', sans-serif;
  min-height: 100vh;
}

form, .todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
  flex: 1;
}

form input textarea {
  color: #626262;
}
form input {
  overflow: hidden;
  padding: 0.5rem;
  font-size: 2.5rem;
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  color: #626262;
  border: none;
  background: none;
  border-bottom: .2rem solid #626262;
  outline: none;
  transition: all 0.3s ease-in-out;
  opacity: 60%;
}

form input:focus textarea {
  color: #626262;
}

form input:focus {
  opacity: 100%;
  font-size: 2.6rem;
  border-bottom: .3rem solid #626262;
}

.todo {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin-top: 1rem;
  background: white;
  color: black;
  border-radius: 10px;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
  opacity: 0;
  -webkit-animation: 1s fadeIn forwards;
  animation: 1s fadeIn forwards;
  transition: opacity 1s;
}

@keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}

.todo-fadeOut {
  animation: 0.5s fadeOut forwards;
}

@keyframes fadeOut {
  from {opacity: 1}
  to {opacity: 0}
}

@media (max-width: 900px) {
  .todo, input {
    width: 50vw;
  }
}
@media (min-width: 900px) {
  .todo, input {
    width: 30vw;
  }
}
